@model ProductCategory
<form method="post" asp-action="DeletePOST">
    <input asp-for="Id" hidden />
<div class="border p-3 mt-4">
    <div class="row pb-2">
        <h2 class="text-parimary">Delete Category</h2> <br />
    </div>
    @*@<div asp-validation-summary="All"></div>*@
    <div class="mb-3">
        <label asp-for="Type"></label>
        <input asp-for="Type" dissable class="form-control" />        
    </div>
    <button type="submit" class="custom-btn btn-12" style="width:150px"><span>Are You Sure?</span><span>Delete</span></button>
</div>
</form>
@section scripts 
{
    @{<partial name="_ValidationScriptsPartial"></partial>}
}
