@*
<div class="container">
    <div class="row">*@
        @*<partial name="_ProductCategoryUpdate" />*@
        @*@{
            string CurrentReq = Convert.ToString(Context.Request.HttpContext.Request.RouteValues["Action"]);
            if (CurrentReq=="ProductCategoryUpdate")
            {
                <partial name="_ProductCategoryUpdate" />
            }
            else if(CurrentReq=="ProductCategoryDelete")
            {
                <partial name="_ProductCategoryDelete" />
            }
            else if(CurrentReq=="ProductCategoryCreate")
            {
                <partial name="_ProductCategoryCreate" />
            }
        }*@
@*    </div>
</div>*@