<style>
    .footer[b-rydtvicnyf] {
        line-height: unset;
        position: fixed !important;
    }
</style>
<div class="content-container text-center bottom-50">
    <div class="site-title">
        <h1>Biz Kimiz?</h1>
    </div>
    <div class="content">
        <h1>Teknolojiye bla bla bla</h1>
        <img src="~/images/4327287.jpg" alt="" class="" />
        <p>BLA BLA BLA BLA BLA</p>
    </div>
</div>