@{
    ViewData["Title"] = "Contact Us";
}
<head>
    <link href="~/css/contactus.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/js/contactus.js"></script>
</head>
<body>
    <div class="map">
  <div id="map"></div>
  <div class="map-c">
    <h1>Pronovuma</h1>
    <p>Bizimle iletişime geçebilirsiniz.</p>
    <div class="det"><i class="fa fa-map-marker"></i> Bayraklı/İzmir</div>
    <div class="det"><i class="fa fa-phone"></i> 0546 252 1923</div>
    <div class="det"><i class="fa fa-globe"></i> www.pronovuma.com</div>
    <center>
      <button class="fa fa-car"></button>
      <button class="fa fa-envelope"></button>
    </center>
  </div>
</div>


</body>